*{
    margin: 0;
    padding: 0;
}



.container{
    margin-top: 150px;
    margin-left: 400px;
}



button {
   
    padding: 12px;
    margin-left: 12px;

}

input{
    
    width: 135px;
    margin-left: 12px;
}

